.ckk-inputfile{
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
    appearance: none;
    background-color: #fafafa;
    border-color: #d2d6dc;
    border-width: 1px;
    font-size: 1em;
    margin:10px;
    
    // transition: ease-in-out, background-color .35s ease-in-out;
}